
.title--logo {
  font-family: "Just Me Again Down Here";
  font-size: 2em;
  color: red;
  margin-left: 70px;
  margin-top: 10px;
  text-decoration: none; 
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



.header--container {
  display: flex;
}

.header--container--right {
  position: absolute;
  left: 50%;
  top: 5%;
  /* transform: translate(30%, 5%); */
}
  
.search {
    width: 200%;
    height: 70%;
}

.back {
  position: absolute;
  left: 70%;
  font-size: 2em;
  color: rgb(0, 255, 34); 
  transform: translate(-20%, 0%);
}

@media screen and (max-width: 400px) {

  .title--logo {
    font-family: "Just Me Again Down Here";
    font-size: 1.5em;
    color: red;
    margin-left: 20px;
    margin-top: 15px;
    text-decoration: none; 
  }

  .header--container--right {
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(0%, 0%);
  }

  .search {
    width: 90%;
    height: 20%;
  }
}

@media screen and (max-width: 600px) {
  .search {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .search {
    width: 135%;
  }
}

