/* http://kimberlygeswein.com */
/* @import url('http://fonts.cdnfonts.com/css/just-me-again-down-here-2'); */
@font-face {
  font-family: "Just Me Again Down Here";
  src: url('./assets/JustMeAgainDownHere.ttf');
  font-family: "kalam.regular";
  src: url('./assets/kalam.regular.ttf');
}

body {
  background-color: #131415;
  color: aliceblue;
}
a {
  color: aquamarine;
}

p {
  overflow-wrap: break-word;
}

.title--lable {
  font-family: "Just Me Again Down Here";
  font-size: 1.5em;
  color: rgb(0, 255, 34); 
  position: absolute;
  left: 10%;
  top: 35%;
}

.available--advocates {
  position: absolute;
  left: 19%;
  top: 36%;
  color: rgb(174, 22, 204);
}

.found--advocates {
  position: absolute;
  left: 44%;
  top: 75%;
}

.advocate__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  width: auto;
  height: auto;
  max-width: 440px;
  max-height: 200px;
  /* border:1px solid rgb(19, 146, 146); */
}

.active--advocate {
  position: absolute;
  left: 50%;
  top: -80%;
  transform: translate(-50%, -70%);
}

.active__advocate__preview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid aquamarine;
}

.advocate__preview__wrapper {
  width: 1em;
  margin: 10px;
}

.advocate__preview__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid aquamarine;
}

/*
*****************
for advocate page
*****************
*/

.advocate__page__image {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-40%, -20%);
  width: 400px;
  height: 400px;
  border-radius: 5%;
  border: 2px solid aquamarine;
}

.advocate__page__name {
  position: absolute;
  left: 12%;
  top: 20%;
  transform: translate(0%, 0%);
  font-size: 1.5em;
}

.advocate__page__bio {
  font-family: 'kalam.regular';
  position: absolute;
  left: 40%;
  top: 40%;
  font-size: 2.8em;
  width: auto;
  max-width: 1000px;
  height: auto;
}

.advocate__page__twitter {
  position: absolute;
  left: 45%;
  top: 90%;
  transform: translate(-50%, -90%);
  font-size: 1.8em;
}

.advocate__page__twitter__followers {
  position: absolute;
  top: 90%;
  left: 80%;
  /* bring your own prefixes */
  transform: translate(-30%, -90%);
  font-size: 1.8em;
  color: rgb(0, 255, 34); 
}

.icon--back {
  position: absolute;
  top: 5%;
  left: 90%;
}

.icon--twitter {
  position: relative;
  left: 60%;
  top: -15px;
}
/*
**************************
*/

span {
  color: rgb(20, 173, 40);
}

q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
    color: pink;
}
q::after {
  color: pink;
  content: close-quote;
}

.container--pagination{
  list-style: none;
  position: fixed;
  left: 95%;
  top: 30%;
}

.page{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.page-previous{
  position: fixed;
  left: 35%;
  top: 60%;
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 5em;
  color: rgb(0, 255, 34); 
}

.page-next{
  position: fixed;
  left: 61%;
  top: 60%;
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 5em;
  color:rgb(0, 255, 34); 
}

.page-break{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.disabled{
  cursor: not-allowed;
}

.active{
  border: 2px solid rgb(19, 130, 182);
  font-weight: bold;
}

.previous{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.break{
  padding: 10px;
}

.next{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  .title--lable {
    font-family: "Just Me Again Down Here";
    font-size: 0.5em;
    color: rgb(0, 255, 34); 
    position: absolute;
    left: 5%;
    top: 13%;
  }
  
  .available--advocates {
    position: absolute;
    font-size: 0.7em;
    left: 18%;
    top: 11%;
    color: rgb(174, 22, 204);
  }
  
  .found--advocates {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }
  
  .advocate__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
    width: 230px;
    height: 800px;
    /* border:1px solid rgb(19, 146, 146); */
  }

  .active--advocate {
    position: absolute;
    left: 50%;
    top: -50%;
    /* transform: translate(-50%, -60%); */
  }

  .active__advocate__preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid aquamarine;
  }

  .advocate__preview__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid aquamarine;
  }

  .page{
    padding: 4px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-right: 5px;
    cursor: pointer;
  }

  .container--pagination{
    list-style: none;
    position: fixed;
    left: 78%;
    top: 30%;
  }

  .page-break{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
  }

  .page-previous{
    position: fixed;
    left: 4%;
    top: 79%;
    transform: translate(-4%, -79%);
    /* padding: 10px; */
    border-radius: 6px;
    /* margin-right: 10px; */
    cursor: pointer;
    font-size: 5em;
    color: rgb(0, 255, 34); 
  }
  
  .page-next{
    position: fixed;
    left: 76%;
    top: 79%;
    transform: translate(0%, -79%);
    /* padding: 10px; */
    border-radius: 6px;
    /* margin-right: 10px; */
    cursor: pointer;
    font-size: 5em;
    color:rgb(0, 255, 34); 
  }

  /*
  *********************
  for Advocate page
  *********************
  */
  .advocate__page__name {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1.5em;
  }

  .advocate__page__image {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    border-radius: 5%;
    border: 2px solid aquamarine;
  }

  .advocate__page__bio {
    font-family: "kalam.regular";
    position: absolute;
    left: 52%;
    top: 100%;
    transform: translate(-50%, 0%);
    font-size: 2.2em;
    width: 370px;
    max-width: 370px;
    height: auto;
  }

  .advocate__page__twitter {
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -92%);
    font-size: 1.8em;
  }
  
  .advocate__page__twitter__followers {
    position: absolute;
    top: 98%;
    left: 48%;
    transform: translate(-48%, -98%);
    font-size: 1em;
    color: rgb(0, 255, 34); 
  }
  
  .icon--back {
    position: absolute;
    top: 1%;
    left: 82%;
  }
  
  .icon--twitter {
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translate(-50%, -40%);
  }
}

@media screen and (max-width: 600px) and (max-height: 640px) {
  .advocate__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 800px;
  }
}

@media screen and (max-width: 600px) and (max-height: 545px) {
  .advocate__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -1%);
    width: 230px;
    height: 800px;
  }

  .available--advocates {
    position: absolute;
    font-size: 0.7em;
    left: 18%;
    top: 10%;
    color: rgb(174, 22, 204);
  }
  
  .found--advocates {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .title--lable {
    font-family: "Just Me Again Down Here";
    font-size: 1em;
    color: rgb(0, 255, 34); 
    position: absolute;
    left: 10%;
    top: 10%;
  }
  
  .available--advocates {
    position: absolute;
    font-size: 0.7em;
    left: 30%;
    top: 10%;
    color: rgb(174, 22, 204);
  }

  .found--advocates {
    position: absolute;
    left: 38%;
    top: 50%;
    font-size: 12px;
  }
  
  .advocate__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    position: absolute;
    left: 50%;
    top: 70%;
    /* transform: translate(-50%, -10%); */
    width: 200px;
    height: 800px;
    /* border:1px solid rgb(19, 146, 146); */
  }

  .active--advocate {
    position: absolute;
    left: 60%;
    top: -60%;
    transform: translate(-50%, -70%);
  }

  .advocate__preview__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid aquamarine;
  }

  .page{
    padding: 4px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-right: 5px;
    cursor: pointer;
  }

  .container--pagination{
    list-style: none;
    position: fixed;
    left: 88%;
    top: 30%;
  }

  .page-break{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    /* font-size: 10px; */
  }

  .page-previous{
    position: fixed;
    left: 22%;
    top: 61%;
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 7em;
    color: rgb(0, 255, 34); 
  }
  
  .page-next{
    position: fixed;
    left: 68%;
    top: 61%;
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 7em;
    color:rgb(0, 255, 34); 
  }

  /*
  *********************
  for Advocate page
  *********************
  */
  .advocate__page__name {
    position: absolute;
    left: 30%;
    top: 15%;
    transform: translate(20%, 0%);
    font-size: 1.5em;
  }

  .advocate__page__image {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -20%);
    width: 350px;
    height: 350px;
    border-radius: 5%;
    border: 2px solid aquamarine;
  }

  .advocate__page__bio {
    position: absolute;
    font-family: "kalam.regular";
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    font-size: 2.8em;
    width: 370px;
    max-width: 400px;
    max-height: 800px;
  }

  .advocate__page__twitter {
    position: absolute;
    left: 50%;
    top: 90%;
    
    transform: translate(-50%, -10%);
    font-size: 1.8em;
  }
  
  .advocate__page__twitter__followers {
    position: absolute;
    left: 50%;
    top: 98%;
    transform: translate(-50%, -98%);
    font-size: 1em;
    color: rgb(0, 255, 34); 
  }
  
  .icon--back {
    position: absolute;
    top: 1%;
    left: 86%;
    transform: translate(30%, 0%);
  }
  
  .icon--twitter {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -80%);
  }
}

@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .title--lable {
    font-family: "Just Me Again Down Here";
    font-size: 1.2em;
    color: rgb(0, 255, 34); 
    position: absolute;
    left: 10%;
    top: 35%;
  }
  
  .available--advocates {
    position: absolute;
    font-size: 0.9em;
    left: 19%;
    top: 36%;
    color: rgb(174, 22, 204);
  }
  
  .found--advocates {
    position: absolute;
    left: 44%;
    top: 75%;
    font-size: 12px;
  }
  
  .advocate__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    width: auto;
    height: auto;
    max-width: 440px;
    max-height: 200px;
    border:1px solid rgb(19, 146, 146);
  }

  .active--advocate {
    position: absolute;
    left: 50%;
    top: -80%;
    transform: translate(-50%, -80%);
  }

  .active__advocate__preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid aquamarine;
  }

  .advocate__preview__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid aquamarine;
  }

  .page{
    padding: 4px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-right: 5px;
    cursor: pointer;
  }

  .container--pagination{
    list-style: none;
    position: fixed;
    left: 94%;
    top: 30%;
  }

  .page-break{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
  }

  .page-previous{
    position: fixed;
    left: 27%;
    top: 59%;
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 5em;
    color: rgb(0, 255, 34); 
  }
  
  .page-next{
    position: fixed;
    left: 67%;
    top: 59%;
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 5em;
    color:rgb(0, 255, 34); 
  }

  /*
  *********************
  for Advocate page
  *********************
  */
  .advocate__page__name {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1.5em;
  }

  .advocate__page__bio {
    font-family: "kalam.regular";
    position: absolute;
    left: 0.25%;
    top: 100%;
    font-size: 2.2em;
    width: 370px;
    max-width: 370px;
    height: auto;
  }

  .advocate__page__bio {
    left: 40%;
    top: 40%;
    font-size: 2.5em;
    width: auto;
    max-width: 800px;
    height: auto;
  }

}